SQL_QUERYS

CREATE TABLE customers (
    CustomerID SERIAL PRIMARY KEY,
    Age INT,
    Gender VARCHAR(10),
    Income DECIMAL(10, 2),
    SpendingScore INT CHECK (SpendingScore BETWEEN 1 AND 100),
    EducationLevel VARCHAR(50),
    MaritalStatus VARCHAR(20),
    NumberOfDependents INT,
    Tenure INT,
    AccountType VARCHAR(50),
    PreferredChannel VARCHAR(50),
    PurchaseFrequency VARCHAR(50),
    ProductCategory VARCHAR(50),
    AverageTransactionValue DECIMAL(10, 2),
    TotalTransactions INT,
    LoyaltyScore INT CHECK (LoyaltyScore BETWEEN 1 AND 100),
    CustomerLifetimeValue DECIMAL(10, 2),
    Region VARCHAR(50),
    SatisfactionScore INT CHECK (SatisfactionScore BETWEEN 1 AND 100),
    LastPurchaseDate DATE,
    AvgDailyVisits DECIMAL(5, 2),
    AvgMonthlySpend DECIMAL(10, 2),
    ChurnRisk VARCHAR(20),
    CampaignResponse VARCHAR(50),
    PreferredPaymentMethod VARCHAR(50)
);


SELECT * from customers




select current_user,now()

SELECT usename FROM pg_user;

ALTER USER postgres WITH PASSWORD 'newpassword';

CREATE USER username WITH PASSWORD 'newpassword';

sql querys

POSTGRESQL TO PYTHON

In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.36)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.1.1)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\leowa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\leowa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
# Replace with your MySQL connection details
username = 'postgres'
password = 'newpassword'
host = 'localhost'
port = '5432'
database_name = 'privasapien'

In [7]:
import psycopg2
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database_name}')

In [8]:
import pandas as pd
query = "select * from customers"

df = pd.read_sql(query,engine)

print(df)

        customerid  age gender    income  spendingscore educationlevel  \
0           100001   56      F  102681.0             36       Master's
1           100002   69      F   99188.0             44     Bachelor's
2           100003   46      M   67800.0             31       Master's
3           100004   32      F   40549.0             97       Master's
4           100005   60      F   29482.0             67       Master's
...            ...  ...    ...       ...            ...            ...
199995      299996   63      M   25128.0              7     Bachelor's
199996      299997   38      M  111611.0             46    High School
199997      299998   62      M  106989.0             42       Master's
199998      299999   41      F   58197.0             49     Bachelor's
199999      300000   61      M   59834.0             39    High School

       maritalstatus  numberofdependents  tenure accounttype  ...  \
0           Divorced                   3       6     Premium  ...
1             Single                   0       2        Gold  ...
2            Married                   0      18       Basic  ...
3           Divorced                   2      24        Gold  ...
4            Married                   3       6     Premium  ...
...              ...                 ...     ...         ...  ...
199995      Divorced                   3       4        Gold  ...
199996      Divorced                   3      18       Basic  ...
199997      Divorced                   1      24       Basic  ...
199998      Divorced                   1      22        Gold  ...
199999      Divorced                   1       8     Premium  ...

       loyaltyscore customerlifetimevalue region  satisfactionscore  \
0                93                3915.0   West                 64
1                74                2037.0  North                 73
2                98                7665.0  North                 64
3                83                5581.0   West                 63
4                87                7810.0  South                 82
...             ...                   ...    ...                ...
199995           64                6755.0   West                 64
199996           78                6985.0  North                 65
199997           68                6553.0   West                 72
199998           82                5079.0  North                 75
199999           83                1696.0  North                 70

        lastpurchasedate  avgdailyvisits  avgmonthlyspend churnrisk  \
0             2023-05-06             6.0            633.0    Medium
1             2024-03-11             3.0            392.0       Low
2             2024-04-07             1.0            678.0      High
3             2023-09-08             9.0            864.0      High
4             2024-06-16             6.0            375.0    Medium
...                  ...             ...              ...       ...
199995        2023-11-10             8.0            259.0      High
199996        2024-05-14             8.0            932.0       Low
199997        2024-02-26             6.0            626.0      High
199998        2024-03-30             3.0            737.0    Medium
199999        2023-06-11             4.0            365.0    Medium

        campaignresponse preferredpaymentmethod
0                    Yes                   Cash
1                     No                   Cash
2                     No                   Cash
3                    Yes                   Cash
4                    Yes             Debit Card
...                  ...                    ...
199995               Yes             Debit Card
199996                No            Credit Card
199997               Yes                   Cash
199998               Yes                   Cash
199999                No             Debit Card

[200000 rows x 25 columns]

In [9]:
df

,customerid,age,gender,income,spendingscore,educationlevel,maritalstatus,numberofdependents,tenure,accounttype,...,loyaltyscore,customerlifetimevalue,region,satisfactionscore,lastpurchasedate,avgdailyvisits,avgmonthlyspend,churnrisk,campaignresponse,preferredpaymentmethod
0,100001,56,F,102681.0,36,Master's,Divorced,3,6,Premium,...,93,3915.0,West,64,2023-05-06,6.0,633.0,Medium,Yes,Cash
1,100002,69,F,99188.0,44,Bachelor's,Single,0,2,Gold,...,74,2037.0,North,73,2024-03-11,3.0,392.0,Low,No,Cash
2,100003,46,M,67800.0,31,Master's,Married,0,18,Basic,...,98,7665.0,North,64,2024-04-07,1.0,678.0,High,No,Cash
3,100004,32,F,40549.0,97,Master's,Divorced,2,24,Gold,...,83,5581.0,West,63,2023-09-08,9.0,864.0,High,Yes,Cash
4,100005,60,F,29482.0,67,Master's,Married,3,6,Premium,...,87,7810.0,South,82,2024-06-16,6.0,375.0,Medium,Yes,Debit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,299996,63,M,25128.0,7,Bachelor's,Divorced,3,4,Gold,...,64,6755.0,West,64,2023-11-10,8.0,259.0,High,Yes,Debit Card
199996,299997,38,M,111611.0,46,High School,Divorced,3,18,Basic,...,78,6985.0,North,65,2024-05-14,8.0,932.0,Low,No,Credit Card
199997,299998,62,M,106989.0,42,Master's,Divorced,1,24,Basic,...,68,6553.0,West,72,2024-02-26,6.0,626.0,High,Yes,Cash
199998,299999,41,F,58197.0,49,Bachelor's,Divorced,1,22,Gold,...,82,5079.0,North,75,2024-03-30,3.0,737.0,Medium,Yes,Cash
199999,300000,61,M,59834.0,39,High School,Divorced,1,8,Premium,...,83,1696.0,North,70,2023-06-11,4.0,365.0,Medium,No,Debit Card

PANDAS TO PYSPARK

In [10]:
from pyspark.sql import SparkSession

In [11]:
spark=SparkSession.builder.appName("ETL").getOrCreate()

In [12]:
pyspark_df = spark.createDataFrame(df)

In [13]:
pyspark_df.show()

+----------+---+------+--------+-------------+--------------+-------------+------------------+------+-----------+----------------+-----------------+---------------+-----------------------+-----------------+------------+---------------------+------+-----------------+----------------+--------------+---------------+---------+----------------+----------------------+
|customerid|age|gender|  income|spendingscore|educationlevel|maritalstatus|numberofdependents|tenure|accounttype|preferredchannel|purchasefrequency|productcategory|averagetransactionvalue|totaltransactions|loyaltyscore|customerlifetimevalue|region|satisfactionscore|lastpurchasedate|avgdailyvisits|avgmonthlyspend|churnrisk|campaignresponse|preferredpaymentmethod|
+----------+---+------+--------+-------------+--------------+-------------+------------------+------+-----------+----------------+-----------------+---------------+-----------------------+-----------------+------------+---------------------+------+-----------------+----------------+--------------+---------------+---------+----------------+----------------------+
|    100001| 56|     F|102681.0|           36|      Master's|     Divorced|                 3|     6|    Premium|        In-store|                8|        Apparel|                  156.0|              146|          93|               3915.0|  West|               64|      2023-05-06|           6.0|          633.0|   Medium|             Yes|                  Cash|
|    100002| 69|     F| 99188.0|           44|    Bachelor's|       Single|                 0|     2|       Gold|        In-store|               14|    Electronics|                  376.0|              165|          74|               2037.0| North|               73|      2024-03-11|           3.0|          392.0|      Low|              No|                  Cash|
|    100003| 46|     M| 67800.0|           31|      Master's|      Married|                 0|    18|      Basic|        In-store|               13|        Apparel|                  128.0|              197|          98|               7665.0| North|               64|      2024-04-07|           1.0|          678.0|     High|              No|                  Cash|
|    100004| 32|     F| 40549.0|           97|      Master's|     Divorced|                 2|    24|       Gold|          Online|               11|      Groceries|                  497.0|              167|          83|               5581.0|  West|               63|      2023-09-08|           9.0|          864.0|     High|             Yes|                  Cash|
|    100005| 60|     F| 29482.0|           67|      Master's|      Married|                 3|     6|    Premium|          Online|                3|      Groceries|                  313.0|              143|          87|               7810.0| South|               82|      2024-06-16|           6.0|          375.0|   Medium|             Yes|            Debit Card|
|    100006| 25|     M| 68401.0|            2|   High School|       Single|                 3|    12|      Basic|      Mobile App|                8|    Electronics|                   32.0|              152|          68|               3153.0|  East|               80|      2024-04-08|           9.0|          389.0|      Low|              No|           Credit Card|
|    100007| 38|     M| 38069.0|           88|    Bachelor's|       Single|                 3|     9|       Gold|          Online|                9|    Electronics|                  356.0|              144|          94|               8029.0| South|               77|      2023-10-30|           9.0|          822.0|      Low|              No|            Debit Card|
|    100008| 56|     F|125223.0|            1|   High School|       Single|                 3|    16|       Gold|        In-store|                2|      Groceries|                  280.0|              131|          72|               1635.0| South|               67|      2024-04-16|           4.0|          679.0|      Low|             Yes|            Debit Card|
|    100009| 36|     M|100296.0|           15|      Master's|      Married|                 0|    28|    Premium|        In-store|               13|    Electronics|                  248.0|              132|          76|               2006.0|  East|               79|      2024-11-12|           5.0|          813.0|   Medium|             Yes|                  Cash|
|    100010| 40|     M|145881.0|           75|   High School|      Married|                 2|    15|    Premium|        In-store|                1|        Apparel|                  350.0|               75|          77|               4514.0| South|               97|      2023-11-05|           8.0|          727.0|     High|             Yes|                  Cash|
|    100011| 28|     F| 84193.0|           35|   High School|       Single|                 1|    14|       Gold|      Mobile App|               11|      Furniture|                  115.0|              145|          87|               7459.0|  East|               72|      2024-12-20|           2.0|          982.0|   Medium|              No|            Debit Card|
|    100012| 28|     M|148751.0|           48|    Bachelor's|      Married|                 1|     6|      Basic|        In-store|               10|    Electronics|                  313.0|              126|          90|               6493.0| North|               67|      2024-10-12|           2.0|          711.0|     High|             Yes|            Debit Card|
|    100013| 41|     M|143002.0|           69|      Master's|     Divorced|                 0|     2|    Premium|          Online|                2|    Electronics|                  159.0|              198|          91|               9127.0|  West|               89|      2024-12-17|           9.0|          967.0|      Low|              No|            Debit Card|
|    100014| 53|     M|135642.0|           72|   High School|       Single|                 3|    24|       Gold|      Mobile App|                3|      Furniture|                  162.0|              155|          87|               8156.0|  West|               67|      2023-09-19|           8.0|          213.0|      Low|              No|           Credit Card|
|    100015| 57|     M| 35037.0|           53|      Master's|     Divorced|                 1|    11|       Gold|          Online|               10|      Furniture|                  230.0|              122|          68|               4082.0| South|               74|      2023-06-25|           2.0|          324.0|     High|             Yes|            Debit Card|
|    100016| 41|     F|142432.0|           90|      Master's|       Single|                 1|    18|       Gold|        In-store|                7|    Electronics|                  444.0|              113|          70|               7192.0| North|               62|      2024-11-07|           4.0|          794.0|      Low|             Yes|            Debit Card|
|    100017| 20|     F| 91751.0|           75|    Bachelor's|       Single|                 1|     4|    Premium|      Mobile App|               11|           Toys|                  315.0|              186|          68|               7403.0| North|               72|      2023-01-24|           8.0|          693.0|   Medium|              No|                  Cash|
|    100018| 39|     M| 55927.0|           74|      Master's|      Married|                 0|    18|      Basic|      Mobile App|               14|      Furniture|                  430.0|               54|          68|               6448.0| South|               89|      2024-09-20|           6.0|          365.0|      Low|              No|           Credit Card|
|    100019| 19|     F|106940.0|           59|   High School|       Single|                 0|    28|      Basic|        In-store|                1|           Toys|                  393.0|              127|          90|               9839.0|  West|               89|      2024-02-14|           5.0|          768.0|      Low|             Yes|           Credit Card|
|    100020| 41|     F| 62613.0|            8|      Master's|       Single|                 1|    20|      Basic|        In-store|               10|      Groceries|                  189.0|              161|          68|               1688.0| South|               88|      2023-09-23|           1.0|          445.0|     High|              No|           Credit Card|
+----------+---+------+--------+-------------+--------------+-------------+------------------+------+-----------+----------------+-----------------+---------------+-----------------------+-----------------+------------+---------------------+------+-----------------+----------------+--------------+---------------+---------+----------------+----------------------+
only showing top 20 rows

In [14]:
pyspark_df.columns

['customerid',
 'age',
 'gender',
 'income',
 'spendingscore',
 'educationlevel',
 'maritalstatus',
 'numberofdependents',
 'tenure',
 'accounttype',
 'preferredchannel',
 'purchasefrequency',
 'productcategory',
 'averagetransactionvalue',
 'totaltransactions',
 'loyaltyscore',
 'customerlifetimevalue',
 'region',
 'satisfactionscore',
 'lastpurchasedate',
 'avgdailyvisits',
 'avgmonthlyspend',
 'churnrisk',
 'campaignresponse',
 'preferredpaymentmethod']

In [15]:
x = pyspark_df.select('customerid','age','income','spendingscore','numberofdependents','tenure','purchasefrequency','averagetransactionvalue','totaltransactions','loyaltyscore','customerlifetimevalue','satisfactionscore','lastpurchasedate','avgdailyvisits','avgmonthlyspend',)
x.show()
y = pyspark_df.select('gender','educationlevel','maritalstatus','accounttype','preferredchannel','productcategory', 'region','churnrisk','campaignresponse','preferredpaymentmethod')
y.show()

+----------+---+--------+-------------+------------------+------+-----------------+-----------------------+-----------------+------------+---------------------+-----------------+----------------+--------------+---------------+
|customerid|age|  income|spendingscore|numberofdependents|tenure|purchasefrequency|averagetransactionvalue|totaltransactions|loyaltyscore|customerlifetimevalue|satisfactionscore|lastpurchasedate|avgdailyvisits|avgmonthlyspend|
+----------+---+--------+-------------+------------------+------+-----------------+-----------------------+-----------------+------------+---------------------+-----------------+----------------+--------------+---------------+
|    100001| 56|102681.0|           36|                 3|     6|                8|                  156.0|              146|          93|               3915.0|               64|      2023-05-06|           6.0|          633.0|
|    100002| 69| 99188.0|           44|                 0|     2|               14|                  376.0|              165|          74|               2037.0|               73|      2024-03-11|           3.0|          392.0|
|    100003| 46| 67800.0|           31|                 0|    18|               13|                  128.0|              197|          98|               7665.0|               64|      2024-04-07|           1.0|          678.0|
|    100004| 32| 40549.0|           97|                 2|    24|               11|                  497.0|              167|          83|               5581.0|               63|      2023-09-08|           9.0|          864.0|
|    100005| 60| 29482.0|           67|                 3|     6|                3|                  313.0|              143|          87|               7810.0|               82|      2024-06-16|           6.0|          375.0|
|    100006| 25| 68401.0|            2|                 3|    12|                8|                   32.0|              152|          68|               3153.0|               80|      2024-04-08|           9.0|          389.0|
|    100007| 38| 38069.0|           88|                 3|     9|                9|                  356.0|              144|          94|               8029.0|               77|      2023-10-30|           9.0|          822.0|
|    100008| 56|125223.0|            1|                 3|    16|                2|                  280.0|              131|          72|               1635.0|               67|      2024-04-16|           4.0|          679.0|
|    100009| 36|100296.0|           15|                 0|    28|               13|                  248.0|              132|          76|               2006.0|               79|      2024-11-12|           5.0|          813.0|
|    100010| 40|145881.0|           75|                 2|    15|                1|                  350.0|               75|          77|               4514.0|               97|      2023-11-05|           8.0|          727.0|
|    100011| 28| 84193.0|           35|                 1|    14|               11|                  115.0|              145|          87|               7459.0|               72|      2024-12-20|           2.0|          982.0|
|    100012| 28|148751.0|           48|                 1|     6|               10|                  313.0|              126|          90|               6493.0|               67|      2024-10-12|           2.0|          711.0|
|    100013| 41|143002.0|           69|                 0|     2|                2|                  159.0|              198|          91|               9127.0|               89|      2024-12-17|           9.0|          967.0|
|    100014| 53|135642.0|           72|                 3|    24|                3|                  162.0|              155|          87|               8156.0|               67|      2023-09-19|           8.0|          213.0|
|    100015| 57| 35037.0|           53|                 1|    11|               10|                  230.0|              122|          68|               4082.0|               74|      2023-06-25|           2.0|          324.0|
|    100016| 41|142432.0|           90|                 1|    18|                7|                  444.0|              113|          70|               7192.0|               62|      2024-11-07|           4.0|          794.0|
|    100017| 20| 91751.0|           75|                 1|     4|               11|                  315.0|              186|          68|               7403.0|               72|      2023-01-24|           8.0|          693.0|
|    100018| 39| 55927.0|           74|                 0|    18|               14|                  430.0|               54|          68|               6448.0|               89|      2024-09-20|           6.0|          365.0|
|    100019| 19|106940.0|           59|                 0|    28|                1|                  393.0|              127|          90|               9839.0|               89|      2024-02-14|           5.0|          768.0|
|    100020| 41| 62613.0|            8|                 1|    20|               10|                  189.0|              161|          68|               1688.0|               88|      2023-09-23|           1.0|          445.0|
+----------+---+--------+-------------+------------------+------+-----------------+-----------------------+-----------------+------------+---------------------+-----------------+----------------+--------------+---------------+
only showing top 20 rows

+------+--------------+-------------+-----------+----------------+---------------+------+---------+----------------+----------------------+
|gender|educationlevel|maritalstatus|accounttype|preferredchannel|productcategory|region|churnrisk|campaignresponse|preferredpaymentmethod|
+------+--------------+-------------+-----------+----------------+---------------+------+---------+----------------+----------------------+
|     F|      Master's|     Divorced|    Premium|        In-store|        Apparel|  West|   Medium|             Yes|                  Cash|
|     F|    Bachelor's|       Single|       Gold|        In-store|    Electronics| North|      Low|              No|                  Cash|
|     M|      Master's|      Married|      Basic|        In-store|        Apparel| North|     High|              No|                  Cash|
|     F|      Master's|     Divorced|       Gold|          Online|      Groceries|  West|     High|             Yes|                  Cash|
|     F|      Master's|      Married|    Premium|          Online|      Groceries| South|   Medium|             Yes|            Debit Card|
|     M|   High School|       Single|      Basic|      Mobile App|    Electronics|  East|      Low|              No|           Credit Card|
|     M|    Bachelor's|       Single|       Gold|          Online|    Electronics| South|      Low|              No|            Debit Card|
|     F|   High School|       Single|       Gold|        In-store|      Groceries| South|      Low|             Yes|            Debit Card|
|     M|      Master's|      Married|    Premium|        In-store|    Electronics|  East|   Medium|             Yes|                  Cash|
|     M|   High School|      Married|    Premium|        In-store|        Apparel| South|     High|             Yes|                  Cash|
|     F|   High School|       Single|       Gold|      Mobile App|      Furniture|  East|   Medium|              No|            Debit Card|
|     M|    Bachelor's|      Married|      Basic|        In-store|    Electronics| North|     High|             Yes|            Debit Card|
|     M|      Master's|     Divorced|    Premium|          Online|    Electronics|  West|      Low|              No|            Debit Card|
|     M|   High School|       Single|       Gold|      Mobile App|      Furniture|  West|      Low|              No|           Credit Card|
|     M|      Master's|     Divorced|       Gold|          Online|      Furniture| South|     High|             Yes|            Debit Card|
|     F|      Master's|       Single|       Gold|        In-store|    Electronics| North|      Low|             Yes|            Debit Card|
|     F|    Bachelor's|       Single|    Premium|      Mobile App|           Toys| North|   Medium|              No|                  Cash|
|     M|      Master's|      Married|      Basic|      Mobile App|      Furniture| South|      Low|              No|           Credit Card|
|     F|   High School|       Single|      Basic|        In-store|           Toys|  West|      Low|             Yes|           Credit Card|
|     F|      Master's|       Single|      Basic|        In-store|      Groceries| South|     High|              No|           Credit Card|
+------+--------------+-------------+-----------+----------------+---------------+------+---------+----------------+----------------------+
only showing top 20 rows

PYSPARK TO UPLOAD S3 BUCKET    ------------------------    x=numerical columns

In [16]:
pip install boto3

Requirement already satisfied: boto3 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.35.54)
Requirement already satisfied: botocore<1.36.0,>=1.35.54 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (1.35.55)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from boto3) (0.10.3)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from botocore<1.36.0,>=1.35.54->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from botocore<1.36.0,>=1.35.54->boto3) (2.2.1)
Requirement already satisfied: six>=1.5 in c:\users\leowa\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.36.0,>=1.35.54->boto3) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: C:\Users\leowa\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [33]:
import pandas as pd
import boto3
from io import StringIO

In [34]:
#Convert the PySpark DataFrame to Pandas (for CSV conversion)
x_pd = x.toPandas()

In [35]:
#Convert the Pandas DataFrame to CSV (you can use Parquet too)
csv_buffer = StringIO()
x_pd.to_csv(csv_buffer, index=False)

In [36]:
s3_client = boto3.client(
    service_name='s3',
    region_name='us-east-2',
    aws_access_key_id='AKIAZYXIBCG3F6SPCPXH',
    aws_secret_access_key='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'
)

In [37]:
bucket_name ='etl-extractdata'
file_name = 'customer_segmentation/numerical.csv'

In [38]:
s3_client.put_object(
    Bucket=bucket_name,
    Key=file_name,
    Body=csv_buffer.getvalue()
)

print(f"File uploaded to {bucket_name}/{file_name}")

File uploaded to etl-extractdata/customer_segmentation/numerical.csv

PYSPARK TO UPLOAD S3 BUCKET    ------------------------    y=categorical columns

In [54]:
import pandas as pd
import boto3
from io import StringIO

In [55]:
#Convert the PySpark DataFrame to Pandas (for CSV conversion)
y_pd=y.toPandas()

In [56]:
#Convert the Pandas DataFrame to CSV (you can use Parquet too)
csv_buffer1 = StringIO()
y_pd.to_csv(csv_buffer1,index=False)

In [57]:
s3_client = boto3.client(
    service_name='s3',
    region_name='us-east-2',
    aws_access_key_id='AKIAZYXIBCG3F6SPCPXH',
    aws_secret_access_key='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'
)

In [58]:
bucket_name ='etl-extractdata'
file_name = 'customer_segmentation/categorical.csv'

In [59]:
s3_client.put_object(
    Bucket=bucket_name,
    Key=file_name,
    Body=csv_buffer1.getvalue()
)

print(f"File uploaded to {bucket_name}/{file_name}")

File uploaded to etl-extractdata/customer_segmentation/categorical.csv

In [60]:
y_pd

,gender,educationlevel,maritalstatus,accounttype,preferredchannel,productcategory,region,churnrisk,campaignresponse,preferredpaymentmethod
0,F,Master's,Divorced,Premium,In-store,Apparel,West,Medium,Yes,Cash
1,F,Bachelor's,Single,Gold,In-store,Electronics,North,Low,No,Cash
2,M,Master's,Married,Basic,In-store,Apparel,North,High,No,Cash
3,F,Master's,Divorced,Gold,Online,Groceries,West,High,Yes,Cash
4,F,Master's,Married,Premium,Online,Groceries,South,Medium,Yes,Debit Card
...,...,...,...,...,...,...,...,...,...,...
199995,M,Bachelor's,Divorced,Gold,In-store,Apparel,West,High,Yes,Debit Card
199996,M,High School,Divorced,Basic,Online,Electronics,North,Low,No,Credit Card
199997,M,Master's,Divorced,Basic,In-store,Apparel,West,High,Yes,Cash
199998,F,Bachelor's,Divorced,Gold,Online,Groceries,North,Medium,Yes,Cash
199999,M,High School,Divorced,Premium,Mobile App,Apparel,North,Medium,No,Debit Card